target/
.project
.classpath
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
*.versionsBackup
.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
.checkstyle
# This file is being created by Mock Repository Manager
# during integration tests
src/it/mrm/repository/_ResourceArtifact-1.0.jar
